<body>

<nav class="navbar navbar-light navbar-fluid bg-light">
    <h1 class="display-4" id="navbar-brand">The Social NoteWork</h1>
    <ul class="navbar-nav form-inline">
    <li><button class="btn btn-primary mr-auto" data-toggle="modal" data-target="#signup-modal" type="sign-up">Sign-up</button>
    <button type ="button" class="btn btn-primary mr-auto" data-toggle="modal" data-target="#login-modal" type="sign-up" type="login">Login</button></li>
    </ul>
</nav>

<!-- <div id="home-content">
    <h1>Here is Some cool stuff we do!</h1>
</div>
<div id="home-content">
    <h1>Here is Some cool stuff we do!</h1>
</div>
<div id="home-content">
    <h1>Here is Some cool stuff we do!</h1>
</div>
<div id="home-content">
    <h1>Here is Some cool stuff we do!</h1>
</div> -->

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">

<!-- Sign up Modal -->
<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create new Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="signup-username">Username</label>
                        <input type="username" class="form-control" id="signup-username" aria-describedby="usernameHelp" placeholder="Enter username">
                    </div>

                    <div class="form-group">
                        <label for="signup-email">Email address</label>
                        <input type="email" class="form-control" id="signup-email" aria-describedby="emailHelp" placeholder="Enter email">

                    </div>

                    <div class="form-group">
                        <label for="signup-password">Password</label>
                        <input type="password" class="form-control" id="signup-password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="signup-password-verify">Verify Password</label>
                        <input type="password" class="form-control" id="signup-password-verify" placeholder="Password">
                    </div>

                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" id="signup-button" >Sign-up</button>
            </div>
        </div>
    </div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter Username and Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="login-username">Username</label>
                        <input type="username" class="form-control" id="login-username" aria-describedby="emailHelp" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="login-password">Password</label>
                        <input type="password" class="form-control" id="login-password" placeholder="Password">
                    </div>


                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" id="login-button">Login</button>
            </div>
        </div>
    </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>