
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-sm-2 mt-4">
                <a class="btn btn-light" href="/userdash/:userid">Back to Dashboard</a>
            </div>
        </div>

        <br />
        <br />
        <div id="userid" style="display: none;">
             {{userdata.id}}
        </div>
        <div class="col-md-10 offset-md-1">
            <div class="form-group">
                <label for="category">Select Subject:</label>
                <select class="custom-select" id="notes-category">
                    <option selected value="">All Categories</option>
                    <option value="English">English</option>
                    <option value="Science">Science</option>
                    <option value="History">History</option>
                    <option value="Math">Math</option>
                    <option value="Foreign Languages">Foreign Languages</option>
                    <option value="Psychology">Psychology</option>
                    <option value="Graphic Arts">Graphic Arts</option>
                    <option value="Computer Applications">Computer Applications</option>
                </select>
            </div>
            <form id="cms">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" id="notes-title">
                    <br />
                    <label for="body">Body:</label>
                    <textarea class="form-control" rows="10" id="notes-body"></textarea>

                    <br />
                    <button type="submit" class="btn btn-primary submit btn-lg" id="publish-notes">Post</button>
                </div>
            </form>
        </div>
    </div>
</div>